.git
.venv
.cache
.local
.pytest_cache
__pycache__
**/__pycache__
data
downloads
tests
*.sqlite*
*.db*
.env
.env.*
*.epub
*.azw3
*.mobi
*.pdf
*.fb2
*.djvu
*.cbz
servers.txt
servers.csv
servers.json
servers.psv
hosts.txt
hosts.psv
*.egg-info
